* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-family: 'Kanit';
    position: relative;
    top: 10px;
}

.form ::placeholder {
    position: relative;
    left: 20px;
    color: rgb(185, 185, 185);
}

.form {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

input[type="text"] {
    background-color: #fff;
    width: 630px;
    height: 40px;
    border: 1px solid rgb(105, 78, 255);
    border-radius: 5px;
    font-size: 19px;
    color: rgb(105, 78, 255);
    transition: background-color 0.3s;
}

body.dark-theme input[type="text"] {
    border-color: #fff;
    background-color: #222;
    color: #fff;

}

.lupa img {
    position: relative;
    right: 40px;
    top: 12px;
}

.all select {
    background-color: rgb(105, 78, 255);
    color: white;
    width: 80px;
    height: 44px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 19px;
    transition: background-color 0.3s ease;
}

.all select:hover {
    background-color: rgb(57, 40, 151);
}

.all option {
    color: rgb(105, 78, 255);
    background-color: white;
}

.lun button {
    background-color: rgb(105, 78, 255);
    border: none;
    width: 44px;
    height: 44px;
    position: relative;
    left: 1150px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -24px;

}

.lun button:hover {
    background-color: rgb(57, 40, 151);
}

.note-text {
    font-weight: bold;
    font-size: 24px;
}

.notes-list {
    display: flex;
    justify-content: center;
    right: 190px;
    position: relative;
    top: 30px;
}

.note_item input {
    height: 22px;
    width: 22px;
    position: relative;
    top: 3px;
    right: 5px;
}

.line {
    background-color: rgb(105, 78, 255);
    width: 550px;
    height: 1px;
    position: relative;
    top: 25px;
    left: 500px;
}

.allelem {
    position: relative;
    top: -80px;
    line-height: 70px;
}

.plus {
    background-color: rgb(105, 78, 255);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1110px;
    top: 240px;
}

.al2 {
    transition: background-color 0.3s ease;
}

.al2 :hover {
    background-color: rgb(57, 40, 151);
    transform: scale(1.1);
}

.all3 {
    display: flex;
    gap: 10px;
    position: relative;
    left: 1007px;
    top: 45px;
}

.oo {
    position: relative;
    top: -1px;
}

.oo img {
    transition: filter 0.2s ease;
    cursor: pointer;
}

.oo img:active {
    filter: invert(16%) sepia(99%) saturate(7412%) hue-rotate(359deg) brightness(97%) contrast(118%)
}

.all4 {
    display: flex;
    gap: 10px;
    position: relative;
    left: 1007px;
    top: 95px;
}

.all5 {
    display: flex;
    gap: 10px;
    position: relative;
    left: 1007px;
    top: 150px;
}

body {
    transition: background-color 0.3s;
}

body.dark-theme {
    background-color: #222;
    color: #fff;
}

#img1 {
    display: block;
}

#img2 {
    display: none;
}

.white {
    background-color: aliceblue;
    height: 300px;
    width: 550px;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.hh2 {
    color: black;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 20px;
}

.modal {
    justify-content: center;
    display: flex;
    position: relative;
    top: -300px;
}

.form2 ::placeholder {
    position: relative;
    left: 20px;
    color: rgb(185, 185, 185);
}

.form2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    width: 430px;
    height: 40px;
    left: 55px;
}

input .form2[type="text"] {
    background-color: #fff;
    width: 230px;
    height: 40px;
    border: 1px solid rgb(105, 78, 255);
    border-radius: 5px;
    font-size: 19px;
    color: rgb(105, 78, 255);
    transition: background-color 0.3s;
}

body.dark-theme input .form2[type="text"] {
    border-color: #fff;
    background-color: #222;
    color: #fff;

}

body.dark-theme .white {
    background-color: #222;
    color: #fff;
    border: 1px solid #fff;
}

body.dark-theme .hh2 {
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 20px;
}

.cancel-button {
    background: transparent;
    border: 2px solid rgb(105, 78, 255);
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    color: rgb(105, 78, 255);
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
}


.apply-button {
    background-color: rgb(105, 78, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    color: #fff;
    border-radius: 5px;
    width: 105px;
    font-weight: bold;
    font-size: 16px;
}

.knopki {
    display: flex;
    gap: 250px;
    position: relative;
    top: 150px;
    justify-content: center;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

#overlay.active,
#modal.active {
    display: flex;
}