/* * {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-family: 'Kanit';
    position: relative;
    top: 10px;
    font-size: 24px;
}

.form ::placeholder {
    position: relative;
    left: 20px;
    color: rgb(185, 185, 185);
}

.form {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

input[type="text"] {
    background-color: #fff;
    width: 630px;
    height: 40px;
    border: 1px solid rgb(105, 78, 255);
    border-radius: 5px;
    font-size: 19px;
    color: rgb(105, 78, 255);
    transition: background-color 0.3s;
}

body.dark-theme input[type="text"] {
    border-color: #fff;
    background-color: #222;
    color: #fff;

}

.lupa img {
    position: relative;
    right: 40px;
    top: 12px;
}

.all select {
    background-color: rgb(105, 78, 255);
    color: white;
    width: 80px;
    height: 44px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 19px;
    transition: background-color 0.3s ease;
}

.all select:hover {
    background-color: rgb(57, 40, 151);
}

.all option {
    color: rgb(105, 78, 255);
    background-color: white;
}

.lun button {
    background-color: rgb(105, 78, 255);
    border: none;
    width: 44px;
    height: 44px;
    position: relative;
    left: 1150px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -24px;

}

.lun button:hover {
    background-color: rgb(57, 40, 151);
}

.note-text {
    font-weight: bold;
    font-size: 24px;
}

.notes-list {
    display: flex;
    justify-content: center;
    right: 190px;
    position: relative;
    top: 30px;
}

.note_item input {
    height: 22px;
    width: 22px;
    position: relative;
    top: 3px;
    right: 5px;
}

.line {
    background-color: rgb(105, 78, 255);
    width: 550px;
    height: 1px;
    position: relative;
    top: 25px;
    left: 500px;
}

.allelem {
    position: relative;
    top: -80px;
    line-height: 70px;
}

.plus {
    background-color: rgb(105, 78, 255);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1110px;
    top: 240px;
}

.al2 {
    transition: background-color 0.3s ease;
}

.al2 :hover {
    background-color: rgb(57, 40, 151);
    transform: scale(1.1);
}

.all3 {
    display: flex;
    gap: 10px;
    position: relative;
    left: 1007px;
    top: 45px;
}

.oo {
    position: relative;
    top: -1px;
}

.oo img {
    transition: filter 0.2s ease;
    cursor: pointer;
}

.oo img:active {
    filter: invert(16%) sepia(99%) saturate(7412%) hue-rotate(359deg) brightness(97%) contrast(118%)
}

.all4 {
    display: flex;
    gap: 10px;
    position: relative;
    left: 1007px;
    top: 95px;
}

.all5 {
    display: flex;
    gap: 10px;
    position: relative;
    left: 1007px;
    top: 150px;
}

body {
    transition: background-color 0.3s;
}

body.dark-theme {
    background-color: #222;
    color: #fff;
}

#img1 {
    display: block;
}

#img2 {
    display: none;
}

.white {
    background-color: aliceblue;
    height: 300px;
    width: 550px;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.hh2 {
    color: black;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 20px;
}

.modal {
    justify-content: center;
    display: flex;
    position: relative;
    top: -300px;
}

.form2 ::placeholder {
    position: relative;
    left: 20px;
    color: rgb(185, 185, 185);
}

.form2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    width: 430px;
    height: 40px;
    left: 55px;
}

input .form2[type="text"] {
    background-color: #fff;
    width: 230px;
    height: 40px;
    border: 1px solid rgb(105, 78, 255);
    border-radius: 5px;
    font-size: 19px;
    color: rgb(105, 78, 255);
    transition: background-color 0.3s;
}

body.dark-theme input .form2[type="text"] {
    border-color: #fff;
    background-color: #222;
    color: #fff;

}

body.dark-theme .white {
    background-color: #222;
    color: #fff;
    border: 1px solid #fff;
}

body.dark-theme .hh2 {
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 20px;
}

.cancel-button {
    background: transparent;
    border: 2px solid rgb(105, 78, 255);
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    color: rgb(105, 78, 255);
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
}


.apply-button {
    background-color: rgb(105, 78, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    color: #fff;
    border-radius: 5px;
    width: 105px;
    font-weight: bold;
    font-size: 16px;
}

.knopki {
    display: flex;
    gap: 250px;
    position: relative;
    top: 150px;
    justify-content: center;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

#overlay.active,
#modal.active {
    display: flex;
} */





* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-family: 'Kanit';
    position: relative;
}

.todolist {
    width: 750px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    position: relative;
    top: 50px;
}

form {
    display: flex;
    gap: 20px;
}

.form {
    width: 530px;
    height: 35px;
    border-radius: 7px;
    border: 1px solid rgb(105, 78, 255);
    position: relative;
    left: 35px;

}
body.dark-mode .form-container input {
    background: #555;
    color: white;
    border-color: white;
}

body.dark-mode .form-container ::placeholder {
    color: white;
}
form ::placeholder {
    position: relative;
    left: 20px;
}

.all {
    background-color: rgb(105, 78, 255);
    color: white;
    width: 80px;
    height: 37px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 19px;
    transition: background-color 0.3s ease;
    position: relative;
    top: -1px;

}

select:hover {
    background-color: rgb(57, 40, 151);
}

.all option {
    color: rgb(105, 78, 255);
    background-color: white;
}

button {
    width: 37px;
    height: 37px;
    border-radius: 7px;
    background-color: rgb(105, 78, 255);
    border: none;
    position: relative;
    top: -1px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(57, 40, 151);
}

.lupa img {
    position: relative;
    top: 8px;
    right: 30px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content {
    height: 575px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;

}

p {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.click {
    width: 28px;
    height: 28px;
    border: 1px solid rgb(105, 78, 255);
    color: rgb(105, 78, 255);
}

.line {
    width: 520px;
    border: 1px solid rgb(105, 78, 255);
}

.knopka {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(105, 78, 255);
    color: rgb(105, 78, 255);
}

.form_content {
    display: flex;
    flex-direction: column;
}

.note {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ellipse {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(105, 78, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px rgb(105, 78, 255);
    cursor: pointer;
}

.ellipse:hover {
    width: 46px;
    height: 46px;
    border-radius: 50px;
    background-color: rgb(57, 40, 151);
    border: 2px solid rgb(105, 78, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 0px rgb(105, 78, 255);
}

h3 {
    position: relative;
    top: -60px;
    font-size: 24px;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal {
    width: 500px;
    height: 289px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -50px;
}

body.dark-mode .modal {
    background: #212121;
    color: white;
}

.name-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal-input {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgb(105, 78, 255);
    border-radius: 5px;
    font-size: 16px;
    width: 440px;
    position: relative;
    top: -40px;
}

body.dark-mode .modal-input {
    background: #212121;
    color: white;
    border-color: rgb(105, 78, 255);
}

.modal-buttons {
    gap: 10px;
    width: 92%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 65px;
}

.modal-buttons button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.cancel-btn {
    background: WHITE;
    color: rgb(105, 78, 255);
    width: 110px;
    height: 38px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(108, 99, 255, 1);
}

body.dark-mode .cancel-btn {
    background: #555;
    color: white;
}

.add {
    position: relative;
    top: 300px;
    right: 40px;
}

.add-btn {
    background: rgb(105, 78, 255);
    color: white;
    width: 100px;
    height: 38px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}

.add-btn:hover {
    background: rgb(105, 78, 255);
}

.light-mode {
    background-color: #f7f7f7;
    color: #333333;
    background: #ffffff;
    border-color: #e0e0e0;
    accent-color: #4a90e2;
}

.dark-mode {
    background-color: #212121;
    color: #f7f7f7;
    accent-color: #5da8ff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;

}

.pen path {
    transition: stroke 0.3s ease;
}

.pen path:hover {
    stroke: rgb(105, 78, 255);
}

.basket path {
    transition: stroke 0.3s ease;
}

.basket path:hover {
    stroke: #E50000;
}

.no-results {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}