* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-family: 'Kanit';
    position: relative;
    top: 10px;
}

.form {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}
.form input{
    transition: background-color 0.3s;
}
.form input.dark-theme{
 background-color: #222;
     border: 1px solid white;
    color: white;
 }
.lupa img {
    position: relative;
    right: 40px;
    top: 12px;
}

.all select {
    background-color: rgb(105, 78, 255);
    color: white;
    width: 80px;
    height: 44px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 19px;
     transition: background-color 0.3s ease;
}
.all select:hover {
    background-color: rgb(57, 40, 151);
}
.all option {
    color: rgb(105, 78, 255);
    background-color: white;
}

.lun button {
    background-color: rgb(105, 78, 255);
    border: none;
    width: 44px;
    height: 44px;
    position: relative;
    left: 1150px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -24px;

}
.lun button:hover{
    background-color: rgb(57, 40, 151);
}
.note-text {
    font-weight: bold;
    font-size: 24px;
}

.notes-list {
    display: flex;
    justify-content: center;
    right: 190px;
    position: relative;
    top: 30px;
}

.note_item input {
    height: 22px;
    width: 22px;
    position: relative;
    top: 3px;
    right: 5px;
}

.line {
    background-color: rgb(105, 78, 255);
    width: 550px;
    height: 1px;
    position: relative;
    top: 25px;
    left: 500px;
}

.allelem {
    position: relative;
    top: -80px;
    line-height: 70px;
}

.plus {
    background-color: rgb(105, 78, 255);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1110px;
    top: 240px;
}

.al2 {
    transition: background-color 0.3s ease;
}

.al2 :hover {
    background-color: rgb(57, 40, 151);
    transform: scale(1.1);
}

.all3 {
    display: flex;
    gap: 10px;
    position: relative;
    left: 1007px;
    top: 45px;
}

.oo {
    position: relative;
    top: -1px;
}
.oo img{
    transition: filter 0.2s ease;
    cursor: pointer;
}
.oo img:active{
filter: invert(16%) sepia(99%) saturate(7412%) hue-rotate(359deg) brightness(97%) contrast(118%)
}
.all4 {
    display: flex;
    gap: 10px;
    position: relative;
    left: 1007px;
    top: 95px;
}

.all5 {
    display: flex;
    gap: 10px;
    position: relative;
    left: 1007px;
    top: 150px;
}

body {
    transition: background-color 0.3s;
}

body.dark-theme  {
    background-color: #222;
    color: #fff;
}

#img1 {
    display: block;
}

#img2 {
    display: none;
}

.white {
    background-color: aliceblue;
    height: 500px;
    width: 550px;
    border-radius: 15px;
    justify-content: center;
    display: flex;

}

.hh2 {
    color: black;
    font-size: 27px;
    font-weight: bold;
}